################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BenProject.VC.VC.opendb
/PC Component/PC Controller/Recordings
/PC Component/PC Recorder/Local Mic Recordings